{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block custom_css %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
</style>
<style>
body{
<!--background-color: #ffffff;-->
<!--background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");-->

<!--background-color: #ebebeb;-->
<!--background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");-->


background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
	background-attachment: fixed;
}
.btn-huge{
    padding-top:40px;
    padding-bottom:60px;

}
.head{
  text-align: left;
  padding-top: 5px;
  font-size:1.8rem;
  font-family: 'Monoton', cursive;
  color: #f5f6fa"
}
  .fplink
    {
        margin: 10px;
        text-align: right;
    }
    .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url({% static 'Loading.gif'%}) center no-repeat #fff;
}
</style>

{% endblock %}
{% block body %}



        <div class="row justify-content-center" style="text-align: center;padding-top: 100px ;margin:23px;">
            <h1  style="font-size: 70px;font-family:'Barrio', cursive; margin">Welcome to QuizOholic</h1>


        </div>
    <div class="row justify-content-center" style="margin:23px;"><h2 style="font-family:sarpanch;" class="text-muted" ><br>A Quizzing Platform To Hone Your Skills</h2></div>


        <div class="row" style="text-align: center;padding-top: 70px">
           <div class="col-md justify-content-center" >
 <button type="submit" class="btn btn-default btn-hover color-10" onclick="window.location.href='#'" >Get started</button>
        </div>
            <br>

        </div>
    <br>
    <br>
                <hr class="style-five">

        <div class="row" style="padding-top: 130px;padding-left: 100px">
            <p class="tab retroshadow" style="font-size: 50px;font-weight:600;color:#273c75;line-height: 1.8">AN INVESTMENT IN KNOWLEDGE PAYS THE
                <br>BEST  &nbsp;<span style="color: #eb2f06">INTEREST</span></p>
        </div>
        <div class="row" style="height: 200px;margin-top: 80px;margin-left: 30px">
            <div class="col-md-6 rounded shadow-lg headshot headshot-1" style="background-color: #0c2461;padding-top: 50px;padding-left: 30px;border-style: dashed;border-color: white;border-width: thick">
                <p class="tab" style="font-size: 20px;font-weight: 400; color: white;line-height: 1.8">L E T' S  &nbsp;&nbsp; &nbsp;J U S T  &nbsp;&nbsp; &nbsp; C O M E &nbsp; &nbsp; A N D &nbsp; S H O W <br> O F F &nbsp; Y O U R &nbsp; S K I L L S</p>
            </div>
        </div>
    <br>
    <br>
                        <hr class="style-two">
        <div class="row" style="padding-top: 130px;padding-left: 200px;text-align: right">
            <p class="tab hit-the-floor" style="font-size: 50px;font-weight:600;color:#273c75;line-height: 1.8">K N O W -&nbsp; I T - <span style="color: #eb2f06">A L L ? ? ?</span></p>
        </div>
        <div class="row" style="height: 200px;margin-top: 80px;margin-left: 30pxs;max-width: 100">
            <div class="col-md-6 rounded shadow-lg headshot headshot-1" style="background-color: #0c2461;padding-top: 50px;padding-left: 30px;margin-left: 500px;border-style: dashed;border-color: white;border-width: thick;">
                <p class="tab" style="font-size: 20px;font-weight: 400; color: white;line-height: 1.8;text-shadow: 2px">B E C O M E &nbsp; A &nbsp; Q U I Z &nbsp; M A S T E R &nbsp; A N D <br> H E L P &nbsp; O T H E R S &nbsp; T O &nbsp; E N H A N C E &nbsp; T H E I R &nbsp;<br> S K I L L S</p>
            </div>
        </div>



<div>




</center>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}
